.container-about {
    background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
    display: flex;
}

.container__title {
    font-size: 90px;
    color: #fff;
    font-weight: 700;
    padding-top: 210px;
}

.container__subtitle {
    width: 500px;
    height: 202px;
    font-size: 17px;
    color: #fff;
    font-weight: 300;
    margin-top: 30px;
}