.header {
    /* display: flex; */
    /* margin: 0 160px 0 160px; */
    /* padding-top: 45px; */
    /* height: 445px; */
    background-image: url(../img/header-background.png);
    background-position: center;
    background-size: cover;
    /* position: relative; */
}

.header__wrapper {
    display: flex;
    padding: 20px 70px 0 70px;
}

.header__logo {
    font-size: 50px;
    line-height: 25px;
    color: #262626;
    font-weight: 400;
    font-family: 'Pacifico', cursive;
}

.nav {
    margin: 0 auto;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav__item {
    list-style-type: none;
    padding-left: 35px;
}

.nav__link {
    width: 100px;
    height: 15px;
    height: 15px;
    font-size: 16px;
    line-height: 25px;
    color: #262626;
    font-weight: 700;
    font-family: "Raleway";
    border-top: 3px solid #ff6033 transparent;
    text-decoration: none;
    padding-top: 5px;
}

.nav__link:hover {
    border-top: 3px solid #ff6033;
}

.big-screen__wrapper {
    padding: 110px 70px;
}

.big-screen__title {
    font-size: 60px;
    line-height: 25px;
    color: var(--main-color);
}

.big-screen__subtitle {
    width: 370px;
    height: 69px;
    font-size: 17px;
    line-height: 27px;
    color: var(--main-color);
    font-weight: 300;
    padding-top: 30px;
}

.big-screen__button {
    width: 200px;
    height: 55px;
    filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
    background-color: #ff6033;
    margin-top: 60px;
    font-size: 20px;
    line-height: 27px;
    color: var(--accent-color);
    font-weight: 300;
}

.scroll {
    text-align: center;
    padding: 110px 30px;
}