.container-subscribe {
    padding: 70px 0;
    background-image: url(../img/subscribe-background.png);
}

.subscribe-text {
    padding-left: 70px;
}

.subscribe-title {
    font-size: 40px;
    font-weight: 700;
}

.subscribe-subtitle {
    width: 564px;
    height: 54px;
    font-size: 17px;
    font-weight: 300;
}

.subscribe-input {
    width: 570px;
    height: 55px;
    background-color: rgba(38, 38, 38, 0);
    border: 1px solid #262626;
}

.subscribe-button {
    background-color: #96b92c;
}