/* BASE */
body,
p,
h2,
h1 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

:root {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    line-height: 27px;
    margin: 0;
    width: 1500px;

    @media screen and (max-width: map-get($breakpoints, sm)) {
        width: 100%;
    }
}

* {
    transition: all .1s easy-in;
}

.btn {
    width: 200px;
    height: 55px;
    filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
    margin-top: 60px;
    font-size: 20px;
    line-height: 27px;
    color: $accent-color;
    font-weight: 300;
    border: none;
    cursor: pointer;

    &:focus {
        border: none;
        outline: none;
    }
}