@import '../fonts/style.css';
/* BASE */
body,
p,
h2,
h1 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: "Raleway", sans-serif;
  line-height: 27px;
  margin: 0;
  width: 1500px;
}

* {
  transition: all 0.1s easy-in;
}

.btn {
  width: 200px;
  height: 55px;
  filter: drop-shadow(0px 2px 2.5px rgba(0, 0, 0, 0.5));
  margin-top: 60px;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
  font-weight: 300;
  border: none;
  cursor: pointer;
}
.btn:focus {
  border: none;
  outline: none;
}

.contact-container .contacts-form__title, .header__title, .container-subscribe__title, .container-gallery__title, .container-services__title, .container-about__title, .big-screen__title {
  font-size: 90px;
  line-height: 27px;
  font-weight: 700;
}

.contact-container .contacts-form__subtitle, .header__subtitle, .container-subscribe__subtitle, .container-gallery__subtitle, .container-about__subtitle, .big-screen__subtitle {
  font-size: 17px;
  line-height: 27px;
  font-weight: 300;
}

.contacts__subtitle, .contacts__title {
  text-align: left;
  margin-left: 160px;
}

.header {
  background-image: url(../img/header-background.png);
  background-position: center;
  background-size: cover;
}
.header__wrapper {
  display: flex;
  padding: 20px 70px 0 70px;
}
.header__logo {
  font-size: 50px;
  line-height: 25px;
  color: #262626;
  font-weight: 400;
  font-family: "Pacifico", cursive;
}

.nav {
  margin: 0 auto;
}
.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.nav__item {
  list-style-type: none;
  padding-left: 35px;
}
.nav__link {
  width: 100px;
  height: 15px;
  height: 15px;
  font-size: 16px;
  line-height: 25px;
  color: #262626;
  font-weight: 700;
  font-family: "Raleway";
  border-top: 3px solid #ff6033 transparent;
  text-decoration: none;
  padding-top: 5px;
}
.nav__link:hover {
  border-top: 3px solid #ff6033;
}

.big-screen__wrapper {
  padding: 110px 70px;
}
.big-screen__title {
  color: #262626;
}
.big-screen__subtitle {
  width: 370px;
  height: 69px;
  color: #262626;
  padding-top: 30px;
}
.big-screen__button {
  background-color: #ff6033;
}

.scroll {
  text-align: center;
  padding: 110px 30px;
}

.container-about {
  background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
  display: flex;
}
.container-about__title {
  color: #fff;
  padding-top: 210px;
}
.container-about__subtitle {
  width: 500px;
  height: 202px;
  color: #fff;
  margin-top: 30px;
}

.container-services {
  background-color: #70bfff;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  color: #fff;
  position: relative;
}
.container-services__wrapper {
  margin: 80px 0;
}
.container-services__title {
  position: absolute;
  margin: 0;
  top: 50%;
}
.container-services__list {
  list-style-type: none;
}
.container-services__item {
  border: 1px solid #fff;
  color: #262626;
  background-color: #fff;
  padding: 30px 40px 10px 30px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  width: 400px;
  height: 100px;
  position: relative;
}
.container-services__item::before {
  content: "";
  position: absolute;
  border-right: 1px solid #9d9d9d;
  height: 100px;
  margin: auto;
  left: 300px;
  bottom: -2px;
}
.container-services__item:not(:last-child) {
  margin-bottom: 10px;
}

.icon {
  height: 100px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 38px;
  text-align: right;
  position: absolute;
  margin: auto;
  right: 0;
}

.container-gallery {
  background-color: #ffe92f;
  padding-top: 45px;
  position: relative;
  height: 1536px;
}
.container-gallery__title {
  text-align: center;
}
.container-gallery__subtitle {
  width: 630px;
  height: 69px;
  text-align: center;
  padding: 40px 0px;
  margin: 0 auto;
}
.container-gallery__img {
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  width: 100%;
}
.container-gallery__img-1 {
  display: flex;
}
.container-gallery img {
  margin-left: 10px;
}
.container-gallery__button {
  background-color: #5585a2;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 170px;
}

.container-subscribe {
  padding: 70px 0;
  background-image: url(../img/subscribe-background.png);
}
.container-subscribe__text {
  padding-left: 70px;
}
.container-subscribe__title {
  font-size: 40px;
}
.container-subscribe__subtitle {
  width: 564px;
  height: 54px;
}
.container-subscribe__input {
  width: 570px;
  height: 55px;
  background-color: rgba(38, 38, 38, 0);
  border: 1px solid #262626;
  margin-right: 30px;
}
.container-subscribe__button {
  background-color: #96b92c;
}

.blog-container {
  height: 864px;
  background-color: #b07cf7;
  padding: 40px 70px 54px 70px;
  color: #fff;
}

.header__title {
  text-align: center;
  margin-bottom: 50px;
}
.header__subtitle {
  width: 570px;
  height: 63px;
  text-align: center;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-around;
}
.wrapper .content {
  width: 370px;
  height: 310px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  background-position: center;
  background-size: cover;
}
.wrapper .content:hover {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
  background-color: #fbfbf7;
}

.content__one {
  background-image: url(../img/blog-1.png), linear-gradient(0deg, #000000 0%, #ffffff 100%);
}

.content__two {
  background-image: url(../img/blog-2.png), linear-gradient(0deg, #000000 0%, #ffffff 100%);
}

.content__tree {
  background-image: url(../img/blog-3.png), linear-gradient(0deg, #000000 0%, #ffffff 100%);
}

.data {
  width: 60px;
  border-radius: 5px;
  background-color: #262626;
  opacity: 0.5;
  text-align: center;
}
.data__number {
  font-size: 32px;
  line-height: 25px;
  font-weight: 700;
  margin: 0;
}
.data__month {
  font-size: 21px;
  line-height: 25px;
  margin: 0;
}

.title {
  height: 79px;
  font-size: 20px;
  line-height: 25px;
  padding-top: 120px;
}

.subtitle {
  padding-top: 40px;
}

.button {
  background-color: #f72b3b;
}

.main-button {
  text-align: center;
}

.contact-container {
  background-color: #fff;
  background-image: url(../img/contact-background.png);
  background-position: center;
  padding: 100px;
}
.contact-container .contacts-form__title {
  color: #262626;
  text-align: center;
  margin-bottom: 30px;
}
.contact-container .contacts-form__subtitle {
  color: #262626;
  text-align: center;
}

.contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 160px;
  margin-top: 30px;
}
.contacts-wrapper .form__input {
  width: 500px;
  height: 50px;
  background-color: #00c4c4;
  border: none;
  outline: none;
  width: 100%;
  color: #fff;
  border: 2px solid rgba(191, 185, 204, 0.54);
  margin: 7px 0 0;
  padding: 10px;
}
.contacts-wrapper .form__input:focus {
  border-color: #355b82;
}
.contacts-wrapper .form__input:invalid + .form__error {
  visibility: visible;
}
.contacts-wrapper .form__error {
  color: red;
  font-size: 12px;
  visibility: hidden;
}
.contacts-wrapper .form__controls {
  padding-bottom: 2px;
}
.contacts-wrapper .form .textarea {
  resize: vertical;
  min-height: 150px;
  max-height: 500px;
}

input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  font-weight: 300;
  font-family: "Raleway";
}

input:-moz-placeholder {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  font-weight: 300;
  font-family: "Raleway";
}

.contacts__title {
  font-size: 17px;
  margin-right: 0 auto;
  margin-bottom: 0;
  padding: 0;
  height: 20px;
  font-weight: bold;
}
.contacts__subtitle {
  font-size: 15px;
  padding: 0;
}

.footer {
  height: 90px;
  background-color: #262626;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__subtitle {
  font-size: 15px;
  color: #b9b9b9;
}
.footer__logo {
  font-size: 25px;
  line-height: 25px;
  color: #b9b9b9;
  font-weight: 400;
  font-family: "Pacifico";
  text-align: right;
}
.footer__span {
  color: red;
}