@import '../fonts/style.css';
@import './variables';
@import './_base';

%title {
    font-size: 90px;
    line-height: 27px;
    font-weight: 700;
}

%subtitle {
    font-size: 17px;
    line-height: 27px;
    font-weight: 300;
}

%left {
    margin-left: 160px;
    text-align: left;
}

// header
.header {
    background-image: url(../img/header-background.png);
    background-position: center;
    background-size: cover;

    &__wrapper {
        display: flex;
        padding: 20px 70px 0 70px;

        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
        }
    }

    &__logo {
        font-family: 'Pacifico', cursive;
        font-size: 50px;
        font-weight: 400;
        line-height: 25px;
        color: $main-color;
    }

    &__toggle-btn {
        display: none;
        font-size: 32px;
        color: $main-color;
        cursor: pointer;

        &:hover {
            color: darken($main-color, 10%);
        }

        .hamburger-menu {
            display: inline-block;
        }

        .close {
            display: none;
        }

        @media screen and (max-width: map-get($breakpoints, sm)) {
            display: flex;
            margin-left: 270px;
            align-items: center;
        }
    }
}

.nav {
    margin: 0 auto;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    &__item {
        padding-left: 35px;
        list-style-type: none;
    }

    &__link {
        padding-top: 5px;
        border-top: 3px solid #ff6033 transparent;
        font-size: 16px;
        line-height: 25px;
        font-weight: 700;
        font-family: "Raleway";
        color: $main-color;
        text-decoration: none;

        &:hover {
            border-top: 3px solid #ff6033;
        }
    }

    @media screen and (max-width: map-get($breakpoints, sm)) {
        display: none;
    }

    @media screen and (max-width: 768px) {
        margin: 30px;
    }
}

.big-screen {

    &__wrapper {
        padding: 110px 70px 0 70px;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            text-align: center;
        }

        @media screen and (max-width: 768px) {
            text-align: center;
        }
    }

    &__title {
        @extend %title;

        color: $main-color;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            line-height: 80px;
        }
    }

    &__subtitle {
        @extend %subtitle;

        width: 370px;
        height: 69px;
        padding-top: 30px;
        color: $main-color;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            margin-bottom: 50px;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__button {
        background-color: #ff6033;
        margin-bottom: 180px;
    }
}

.scroll {
    text-align: center;
    padding-bottom: 30px;
}

// about us
.container-about {
    position: relative;
    height: 700px;
    background-image: url(../img/about-background.png),
        radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
    background-repeat: no-repeat;
    background-position: left;

    @media screen and (max-width: map-get($breakpoints, sm)) {
        text-align: center;
        background-position: bottom;
        background-image: none;
        background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
    }

    @media screen and (max-width: 768px) {
        text-align: center;
        background-position: bottom;
        background-image: none;
        background-image: radial-gradient(circle at center, #00c3c3 0%, #00b8b7 32%, #00afae 68%, #009f9f 100%);
    }

    &__text {
        position: absolute;
        display: flex;
        flex-direction: column;
        margin: auto;
        right: 0;
        padding-right: 170px;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            position: static;
        }

        @media screen and (max-width: 768px) {
            padding-right: 0;
            position: static;
        }
    }

    &__title {
        @extend %title;

        padding-top: 210px;
        color: $accent-color;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            font-size: 40px;
            padding-top: 0;
        }

        @media screen and (max-width: 768px) {
            padding-top: 0;
            padding-bottom: 30px;
            font-size: 50px;
        }
    }

    &__subtitle {
        @extend %subtitle;

        width: 500px;
        height: 202px;
        margin-top: 30px;
        color: $accent-color;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            font-size: 14px;
        }

        @media screen and (max-width: 768px) {
            width: 80%;
            margin: 0 auto;
        }
    }

    &__img {
        display: none;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            display: inline-block;
            width: 60%;
        }

        @media screen and (max-width: 768px) {
            display: inline-block;
            width: 60%;
        }


    }
}

// service
.container-services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 70px;
    background-image: url(../img/service-background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #70bfff;
    color: $accent-color;

    @media screen and (max-width: map-get($breakpoints, sm)) {
        flex-direction: column;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
    }

    &__text {
        @media screen and (max-width: map-get($breakpoints, sm)) {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
            order: -1;
            padding-top: 30px;
        }
    }

    & .service-img {
        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 150px;
        }
    }

    &__wrapper {
        margin: 80px 0;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            margin: 0 auto;
            padding: 20px 0;
        }
    }

    &__title {
        @extend %title;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            position: static;
            display: inline-block;
            font-size: 40px;
        }

        @media screen and (max-width: 768px) {
            padding-top: 30px;
            font-size: 50px;
        }
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        position: relative;
        display: flex;
        width: 400px;
        height: 100px;
        padding: 30px 40px 10px 30px;
        border: 1px solid $accent-color;
        font-size: 20px;
        font-weight: 700;
        color: $main-color;
        background-color: $accent-color;

        &::before {
            content: "";
            position: absolute;
            height: 100px;
            margin: auto;
            left: 300px;
            bottom: -2px;
            border-right: 1px solid #9d9d9d;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        @media screen and (max-width: map-get($breakpoints, sm)) {
            font-size: 16px;
        }

        @media screen and (max-width: 768px) {
            font-size: 18px;
        }
    }
}

.icon {
    position: absolute;
    height: 100px;
    margin: auto;
    right: 0;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 38px;
    text-align: right;

    @media screen and (max-width: map-get($breakpoints, sm)) {
        font-size: 32px;
    }

    @media screen and (max-width: 768px) {
        font-size: 28px;
    }
}


// gallery
.container-gallery {
    position: relative;
    height: 1536px;
    padding-top: 45px;
    background-color: #ffe92f;

    @media screen and (max-width: map-get($breakpoints, sm)) {
        height: 1650px;
    }

    @media screen and (max-width: 768px) {
        height: 2200px;
    }

    &__title {
        @extend %title;

        text-align: center;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            font-size: 40px;
        }
    }

    &__subtitle {
        @extend %subtitle;

        width: 630px;
        height: 69px;
        margin: 0 auto;
        padding: 40px 0px;
        text-align: center;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 80%;
            font-size: 14px;
        }
    }

    &__img {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 80px;
    }

    &__img-1 {
        display: flex;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            flex-direction: column;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__img01 {
        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__img02 {
        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__img03 {
        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__img04 {
        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__img05 {
        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    & img {
        margin-left: 10px;
    }

    &__button {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        bottom: 170px;
        background-color: #5585a2;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            bottom: 35px;
        }

        @media screen and (max-width: 768px) {
            bottom: 35px;
        }
    }
}

// subscribe
.container-subscribe {
    padding: 70px 0;
    background-image: url(../img/subscribe-background.png);

    @media screen and (max-width: map-get($breakpoints, sm)) {
        width: 80%;
        background-size: contain;
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 768px) {
        background-position: center;
    }

    &__text {
        padding-left: 70px;
    }

    &__title {
        @extend %title;

        font-size: 40px;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            padding-top: 25px;
        }

        @media screen and (max-width: 768px) {
            font-size: 40px;
        }
    }

    &__subtitle {
        @extend %subtitle;

        width: 564px;
        height: 54px;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 450px;
            font-size: 14px;
        }
    }

    &__input {
        width: 570px;
        height: 55px;
        margin-right: 30px;
        border: 1px solid #262626;
        background-color: rgba(38, 38, 38, 0);

        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 450px;
            margin-top: 15px;
        }
    }

    &__button {
        background-color: #96b92c;
    }
}

// blog
.blog-container {
    // height: 864px;
    padding: 40px 70px 54px 70px;
    background-color: #b07cf7;
    color: $accent-color;
}

.header {
    &__title {
        @extend %title;

        margin-bottom: 50px;
        text-align: center;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            font-size: 40px;
        }
    }

    &__subtitle {
        @extend %subtitle;

        width: 570px;
        height: 63px;
        margin: 0 auto;
        text-align: center;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            width: 450px;
            font-size: 14px;
        }

        @media screen and (max-width: 768px) {
            width: 430px;
            margin-bottom: 30px;
        }
    }
}

.wrapper {
    display: flex;
    justify-content: space-around;

    @media screen and (max-width: map-get($breakpoints, sm)) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & .content {
        display: flex;
        flex-direction: column;
        width: 370px;
        height: 310px;
        margin-top: 40px;
        padding-top: 20px;
        padding-left: 20px;
        background-position: center;
        background-size: cover;

        &:hover {
            filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.5));
            background-color: #fbfbf7;
        }
    }
}

.content__one {
    background-image: url(../img/blog-1.png), linear-gradient(0deg, #000000 0%, #ffffff 100%);
}

.content__two {
    background-image: url(../img/blog-2.png), linear-gradient(0deg, #000000 0%, #ffffff 100%);
}

.content__tree {
    background-image: url(../img/blog-3.png), linear-gradient(0deg, #000000 0%, #ffffff 100%);
}

.data {
    width: 60px;
    border-radius: 5px;
    text-align: center;
    background-color: $main-color;
    opacity: 0.5;

    &__number {
        margin: 0;
        font-size: 32px;
        line-height: 25px;
        font-weight: 700;
    }

    &__month {
        margin: 0;
        font-size: 21px;
        line-height: 25px;
    }
}

.title {
    height: 79px;
    padding-top: 120px;
    font-size: 20px;
    line-height: 25px;
}

.subtitle {
    padding-top: 40px;
}

.button {
    background-color: #f72b3b;
}

.main-button {
    text-align: center;
}

// form
.contact-container {
    padding: 100px;
    background-color: $accent-color;
    background-image: url(../img/contact-background.png);
    background-position: center;

    & .contacts-form {
        &__title {
            @extend %title;

            margin-bottom: 30px;
            text-align: center;
            color: $main-color;

            @media screen and (max-width: map-get($breakpoints, sm)) {
                font-size: 40px;
            }
        }

        &__subtitle {
            @extend %subtitle;

            text-align: center;
            color: $main-color;

            @media screen and (max-width: map-get($breakpoints, sm)) {
                font-size: 14px;
            }
        }
    }
}

.contacts-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 160px;
    margin-top: 30px;

    @media screen and (max-width: map-get($breakpoints, sm)) {
        grid-template-columns: 1fr;
        margin: 0;
    }

    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        margin: 0;
    }



    & .form {
        &__input {
            width: 500px;
            width: 100%;
            height: 50px;
            margin: 7px 0 0;
            padding: 10px;
            border: 2px solid rgba(191, 185, 204, 0.54);
            background-color: #00c4c4;
            outline: none;
            color: $accent-color;

            &:focus {
                border-color: #355b82;
            }

            &:invalid+.form__error {
                visibility: visible;
            }
        }

        &__error {
            visibility: hidden;
            font-size: 12px;
            color: red;
        }

        &__controls {
            padding-bottom: 2px;
        }

        & .textarea {
            min-height: 150px;
            max-height: 500px;
            resize: vertical;
        }
    }
}

input::-webkit-input-placeholder {
    font-family: "Raleway";
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: $accent-color;
}

input:-moz-placeholder {
    font-family: "Raleway";
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    color: $accent-color;
}

.contacts {

    &__title {
        @extend %left;

        height: 20px;
        margin-right: 0 auto;
        margin-bottom: 0;
        padding: 0;
        font-size: 17px;
        font-weight: bold;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            margin-left: 0;
        }
    }

    &__subtitle {
        @extend %left;

        padding: 0;
        font-size: 15px;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            margin-left: 0;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    background-color: $main-color;

    &__subtitle {
        font-size: 15px;
        color: #b9b9b9;

        @media screen and (max-width: map-get($breakpoints, sm)) {
            font-size: 12px;
        }
    }

    &__logo {
        font-family: "Pacifico";
        font-size: 25px;
        line-height: 25px;
        font-weight: 400;
        text-align: right;
        color: $accent-color;

    }

    &__span {
        color: red;
    }
}